.markToken{
  border: 3px whitesmoke solid !important;
}

.labelPlayer{
  z-index: 100;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.player1{
  background: url("../../../img/red.png");
  background-repeat: no-repeat;
  /* background-color: red;
  border: solid #b22222 3px !important;*/
}

.player2{
  background-image: url("../../../img/yellow.png");
  background-repeat: no-repeat;
  /*background-color: #efef0f;
  border: solid #f9e202 3px !important;*/
}