$backgroundColor: #e6e6e6;

$buttonBorder: rgba(255, 185, 33, 0.88);
$buttonShadow: #c46f08;

$mainColor1: #3b5fb7;

$mainColor2: #d87a09;
$mainColor2light: rgba(255, 185, 33, 0.88);
$mainColor2dark: #c46f08;
$mainColor2darker: #4e2b06;
