@import "./header.scss";
@import "./button.scss";

*{
    font-family: 'Orbitron', sans-serif;
    font-weight: 400;
    font-size: 15px;
    letter-spacing: 1px;
}

body {
  margin: 40px 30px;
  background-color: $backgroundColor;
}

#container{
    position: absolute;
    width:auto;
    height: auto;
    min-width: 300px;
    min-height: 330px;
    padding: 20px 100px 70px 100px;
    margin-left: 100px;
    text-align: center;
    background-color: #fff;
    box-shadow: 0 2px 6px rgba(100, 100, 100, 0.3);
}

h1{
    font-weight: 800;
    font-size: 1.5em;
    color: $mainColor1;
    padding-bottom: 30px;
    margin-bottom: 40px;
    border-bottom: 1px solid #ededed;
}

.flex{
    display: flex;
    justify-content: space-around;
}