@import "./header.scss";
@import "./button.scss";

*{
    font-family: 'Orbitron', sans-serif;
    font-weight: 400;
    font-size: 15px;
    letter-spacing: 1px;
}

body {
  margin: 45px;
  background-color: $backgroundColor;
}


h1{
    font-weight: 800;
    font-size: 1.5em;
    color: $mainColor1;
    padding-bottom: 30px;
    margin-bottom: 40px;
    border-bottom: 1px solid #ededed;
}

.flex{
    display: flex;
    justify-content: space-around;
}