@import "../../../style/header.scss";

.connect4__container{
    position: absolute;
    width:auto;
    height: auto;
    min-width: 300px;
    min-height: 330px;
    padding: 20px 100px 70px 100px;
    text-align: center;
    background-color: #fff;
    box-shadow: 0 2px 6px rgba(100, 100, 100, 0.3);
}

#copyright{
    color: $mainColor1;
    position: absolute;
    font-size: 10px;
    right: 8px;
    bottom: -30px;
}