.connect4__setting{
	.players{
		padding-bottom: 20px;
	  border-bottom: 1px solid #ededed;

	  .input{
			padding: 4px;
			margin-top: 15px;
			text-align: center;
		}
	}

	.label{
		width: 100px;
		margin: 3px;
	}

	.gameboard{
		margin: 40px 0px;
		h2{
			font-weight: bold;
		}
		.input{
			padding: 4px;
			width: 40px;
		}
		.flex{
			width: 150px;
			margin: auto;
		}
	}

}

.label_player{
  z-index: 100;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.player1{
    /*background: url("../../../img/red.png") !important;
    background-repeat: no-repeat;*/
    background-color: red;
    border: solid #b22222 3px !important;
}

.player2{
    /*background-image: url("../../../img/red.png") !important;
    background-repeat: no-repeat;*/
    background-color: #efef0f;
    border: solid #f9e202 3px !important;
}



