.connect4__app{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
}

.playerName{
    width: 40%;
}

.reset{
    font-weight: 700;
    width: 40%;
}

.info{
    width: 20%;
    font-size:20px;
}